@use "../../index.scss" as *;

.accordion {
  color: $textColor;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    cursor: pointer;
    border-radius: $rounded_md;
    gap: 1rem;
    path {
      color: $secondaryColor;
    }

    &:hover path {
      color: $blueBase;
    }

    div[type="title"] {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }

    span {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
  }
}

.accordion__content {
  margin: 0.5rem 0;
}
