@use "../../index.scss" as *;

.addFunction {
  border-radius: $rounded_md;
  overflow: hidden;
  min-width: min(15rem, 100%);
}

.buttonAdd {
  transition: all linear 100ms;
  max-height: 5rem;

  &__active {
    max-height: 0;
    overflow: hidden;
  }

  &__active button {
    display: none !important ;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: rgba(243, 239, 239, 0.85);

    width: 100%;
    border-radius: $rounded_md;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-weight: 600;
    color: $grayLight;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(243, 239, 239, 0.95);
    }
  }
}

.action {
  background-color: #dfe1e6;
  max-height: 0;
  visibility: hidden;
  transition: all linear 200ms;

  &__active {
    max-height: 7rem;
    padding: 0.5rem;
    visibility: visible;
  }

  input {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border: 2px solid rgb(75, 159, 216);

    outline: none;
  }
}

.action__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    cursor: pointer;
    display: grid;
    place-content: center;
  }

  button {
    margin-top: 0.3rem;
    background-color: rgb(75, 159, 216);
    padding: 0.5rem 1rem;
    border-radius: $rounded_md;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: rgb(15, 75, 116);
    }
    path {
      color: #fff;
    }
  }
}

.kanbanContainer {
  min-height: 100vh;
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: start;
  overflow-x: auto;
}

.laneWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  background-color: #dfe1e6;
  padding: 0.7rem 1rem;
  border-radius: $rounded_sm;
  min-width: 17rem;

  ul {
    min-height: 1rem;
  }
  h3 {
    font-size: 0.8rem;
  }
}

.buttonTareaWrapper {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin-top: 0.3rem;
    background-color: rgb(75, 159, 216);
    padding: 0.5rem 1rem;
    border-radius: $rounded_md;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: rgb(15, 75, 116);
    }
    path {
      color: #fff;
    }
  }

  div {
    display: flex;
    align-items: center;

    cursor: pointer;
  }
}

.tarea {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $grayLight;
  background-color: #fff;
  border-radius: $rounded_md;
  box-shadow: 1px 1px 2px 0 rgb(160, 155, 155);

  &:hover {
    background-color: rgba(240, 251, 253, 0.8);
  }

  &__active {
    transform: rotate(5deg);
  }
}

.droppable {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
