@use "../../index.scss" as *;

.header {
  color: #fff;

  ul {
    list-style: none;
    display: flex;
    gap: 0.3rem;
  }
  li {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.4rem;
    border-radius: $rounded_md;
    font-size: 0.8rem;
    font-weight: 600;
  }

  li[type*="background"] {
    background-color: rgba(171, 202, 223, 0.281);
  }
  li[type*="line-break"] {
    padding: 0;
    width: 1px;
    margin: 0 0.4rem;
    background-color: rgba(171, 202, 223, 0.445);
  }

  li[type*="buttonStyle"] {
    padding: 0;
    button {
      display: flex;
      align-items: center;
      padding: 0.3rem 0.5rem;
      border: none;
      border-radius: $rounded_md;
      gap: 0.4rem;
      height: 100%;
    }
  }
  li[type*="flex"] {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  li[type*="name"] {
    font-size: 1.1rem;
  }
}
