@use "../../index.scss" as *;

.sideBarHome {
  color: $textColor;
  a {
    text-decoration: none;

    &:link {
      color: inherit;
    }
    &:focus {
      color: inherit;
    }
  }
  path {
    color: $grayBase;
  }
}

.sideList {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  li {
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 700;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: $rounded_md;

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
      color: $blueBase;

      path {
        color: inherit;
      }
    }
  }
}

.sideWorkSpaces {
  margin: 1rem 0;
  border-top: 1px solid rgba(173, 166, 166, 0.459);

  &__header {
    font-size: 0.8rem;
    padding: 1rem 0;
    display: flex;
    color: $grayLight;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;

    gap: 0.4rem;
    path {
      color: inherit;
    }
  }
}

.sideWorkSpaces__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.accordion__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1.3rem;

  li {
    font-size: 0.8rem;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0.3rem;

    align-items: center;
    font-weight: 700;
    border-radius: $rounded_md;
    cursor: pointer;
    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
      color: $blueBase;

      path {
        color: inherit;
      }
    }
  }
}
