@use "../../index.scss" as *;

.sideBar {
  background: linear-gradient(
    180deg,
    rgba(3, 105, 161, 1) 35%,
    rgba(127, 232, 252, 1) 100%
  );
  border-right: 1px solid rgba(223, 225, 230, 0.475);

  color: #fff;
  height: 100vh;

  .header {
    padding: 1rem;
    display: flex;
    min-height: 3rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(223, 225, 230, 0.475);
    border-top: 1px solid rgba(223, 225, 230, 0.475);

    div[type="user__stats"] {
      display: flex;
      gap: 0.4rem;

      p {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        font-weight: 600;

        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.features {
  padding: 1rem;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  & > div {
    margin-bottom: 0.5rem;
  }

  &__second,
  &__first {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    p {
      font-size: 0.9rem;
      display: flex;
      gap: 0.7rem;
      font-weight: 500;
      padding: 0.3rem;
      align-items: center;
      &:hover {
        background-color: rgba(218, 211, 211, 0.506);
      }
    }
  }

  h4 {
    font-size: 1rem;
  }
}

.boards {
  padding: 1rem;
  h4 {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
