@use "../index.scss" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.modal__content {
  padding: 2rem;
  background-color: white;
  border-radius: $rounded_lg;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  path {
    color: #fff;
  }
}
